In [1]:
import pandas as pd
import numpy as np
import csv

import matplotlib.pyplot as plt
import seaborn as sns
import pickle
%matplotlib inline
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# Data Cleasing
## clean original csv and export to a new cleaned csv

In [2]:
def csv_clean(content):
    content = content.replace(";",",")
    content = content.replace('"','')
    return content

In [3]:
with open("DataSampleA.csv") as f:  #read csv to string
    s = f.read()

clean_s = csv_clean(s)  #clean the string using csv_clean function
result = csv.reader(clean_s.splitlines())  #read string back to _csv.reader object
list_result = list(result) #turn _csv.reader into a list to create a data frame

In [4]:
df = pd.DataFrame(list_result, columns = list_result[0])
df = df.drop(df.index[0])
df = df.reset_index(drop=True)

In [5]:
df.head()

  age          job  marital  education default balance housing loan   contact day month duration campaign pdays previous poutcome   y
0  30   unemployed  married    primary      no    1787      no   no  cellular  19   oct       79        1    -1        0  unknown  no
1  33     services  married  secondary      no    4789     yes  yes  cellular  11   may      220        1   339        4  failure  no
2  35   management   single   tertiary      no    1350     yes   no  cellular  16   apr      185        1   330        1  failure  no
3  30   management  married   tertiary      no    1476     yes  yes   unknown   3   jun      199        4    -1        0  unknown
4  59  blue-collar  married  secondary      no       0     yes   no   unknown   5   may      226        1    -1        0  unknown  no

In [6]:
for item in df.columns:
    print(item)
    print(df[item].value_counts())

age
34    210
32    198
31    169
36    168
35    162
33    161
38    144
37    137
41    124
30    124
40    123
42    120
39    113
46    105
48    104
43    101
49     99
47     97
45     96
44     95
28     91
27     89
50     88
29     85
55     81
51     81
53     80
58     79
57     78
52     77
56     69
54     66
26     64
59     63
60     43
25     41
24     24
23     19
61     15
66      9
63      7
22      7
64      7
21      6
80      6
62      6
77      6
70      5
75      5
71      5
67      5
73      5
19      4
72      4
65      4
79      4
78      3
74      3
69      3
20      3
76      2
68      2
83      2
86      1
87      1
81      1
Name: age, dtype: int64
job
management       871
blue-collar      829
technician       675
admin.           430
services         360
retired          205
self-employed    161
entrepreneur     150
unemployed       112
housemaid         99
student           74
unknown           33
Name: job, dtype: int64
marital
married     2490
single      1054
divorced     455
Name: marital, dtype: int64
education
secondary    2028
tertiary     1204
primary       602
unknown       165
Name: education, dtype: int64
default
no     3930
yes      69
Name: default, dtype: int64
balance
0       315
2        22
1        13
4        12
23       11
       ...
1944      1
-17       1
1680      1
1259      1
4895      1
Name: balance, Length: 2178, dtype: int64
housing
yes    2262
no     1737
Name: housing, dtype: int64
loan
no     3385
yes     614
Name: loan, dtype: int64
contact
cellular     2568
unknown      1172
telephone     259
Name: contact, dtype: int64
day
20    224
18    206
19    180
14    180
17    173
6     172
21    167
28    164
7     163
8     161
15    159
29    157
13    152
30    149
5     148
9     145
16    138
12    134
11    131
4     123
2     101
26     97
23     96
27     95
3      90
22     77
25     72
10     45
31     44
24     31
1      25
Name: day, dtype: int64
month
may    1241
jul     631
aug     559
jun     464
nov     347
apr     251
feb     193
jan     133
oct      71
sep      47
mar      43
dec      19
Name: month, dtype: int64
duration
123     26
121     22
104     22
77      21
119     21
        ..
497      1
655      1
863      1
1663     1
401      1
Name: duration, Length: 838, dtype: int64
campaign
1     1545
2     1104
3      504
4      289
5      146
6      131
7       68
8       49
9       26
10      25
11      19
12      19
13      14
14       8
16       7
18       7
15       6
17       6
25       4
24       3
28       3
21       2
32       2
19       2
23       2
22       2
20       2
29       1
31       1
30       1
50       1
Name: campaign, dtype: int64
pdays
-1     3281
182      18
183      13
92       12
363      11
91       11
169      10
364       9
181       9
99        8
172       7
349       7
94        7
370       7
176       7
342       6
96        6
85        6
95        6
2         6
266       6
351       6
150       6
167       6
357       5
190       5
152       5
174       5
330       5
345       5
184       5
371       5
170       5
105       5
120       5
271       5
350       5
175       5
185       5
147       4
189       4
241       4
322       4
90        4
78        4
344       4
196       4
84        4
259       4
368       4
358       4
112       4
98        4
327       4
347       4
337       4
247       4
97        4
173       4
367       4
360       4
335       4
87        4
334       3
111       3
366       3
154       3
124       3
89        3
340       3
93        3
336       3
332       3
346       3
186       3
188       3
178       3
64        3
104       3
88        3
7         3
180       3
355       3
261       3
275       3
102       3
343       3
246       3
298       3
114       3
161       3
356       3
295       3
321       3
146       3
365       3
273       3
127       3
287       2
193       2
281       2
274       2
140       2
474       2
280       2
292       2
415       2
316       2
325       2
207       2
308       2
106       2
297       2
100       2
253       2
149       2
317       2
270       2
113       2
130       2
177       2
80        2
258       2
122       2
187       2
145       2
300       2
264       2
141       2
179       2
126       2
197       2
333       2
136       2
272       2
110       2
101       2
204       2
339       2
461       2
201       2
315       2
198       2
244       2
191       2
195       2
168       2
373       2
138       2
109       2
369       2
362       2
291       2
293       2
303       2
1         2
338       2
323       2
116       2
352       2
209       2
135       2
288       2
164       2
137       2
227       2
221       2
260       2
326       2
133       2
69        1
239       1
79        1
450       1
123       1
309       1
268       1
265       1
199       1
119       1
208       1
59        1
262       1
359       1
436       1
62        1
160       1
153       1
386       1
103       1
83        1
382       1
56        1
294       1
61        1
206       1
312       1
374       1
192       1
256       1
484       1
81        1
348       1
267       1
462       1
165       1
171       1
131       1
479       1
63        1
871       1
235       1
248       1
162       1
118       1
148       1
58        1
143       1
107       1
60        1
278       1
73        1
313       1
223       1
353       1
385       1
414       1
158       1
683       1
75        1
82        1
500       1
210       1
397       1
86        1
426       1
435       1
238       1
205       1
761       1
282       1
305       1
250       1
808       1
375       1
460       1
151       1
311       1
319       1
166       1
404       1
225       1
242       1
249       1
299       1
284       1
211       1
254       1
3         1
467       1
222       1
212       1
38        1
28        1
117       1
329       1
388       1
341       1
674       1
255       1
5         1
541       1
283       1
139       1
115       1
232       1
231       1
378       1
Name: pdays, dtype: int64
previous
0     3281
1      246
2      170
3      103
4       67
5       43
6       22
7       19
8       18
9       10
12       5
10       4
11       2
14       1
15       1
13       1
19       1
22       1
24       1
17       1
18       1
20       1
Name: previous, dtype: int64
poutcome
unknown    3281
failure     427
other       177
success     114
Name: poutcome, dtype: int64
y
no     3536
yes     458
          5
Name: y, dtype: int64

In [7]:
df[df.y == ' ']

     age            job  marital  education default balance housing loan    contact day month duration campaign pdays previous poutcome  y
3     30     management  married   tertiary      no    1476     yes  yes    unknown   3   jun      199        4    -1        0  unknown
1030  38     management  married   tertiary      no     -70     yes   no   cellular  30   jan      140        1     2        3    other
2774  37  self-employed  married   tertiary      no       0      no   no    unknown   6   jun      143        1    -1        0  unknown
3949  38      housemaid  married    primary      no      21      no   no   cellular  26   aug      634        2    -1        0  unknown
3967  48     technician  married  secondary      no   10655      no   no  telephone  31   jul        5        3    -1        0  unknown

In [8]:
drop_index = df[df.y == ' '].index
df = df.drop(df.index[drop_index])
df = df.reset_index(drop=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3994 entries, 0 to 3993
Data columns (total 17 columns):
age          3994 non-null object
job          3994 non-null object
marital      3994 non-null object
education    3994 non-null object
default      3994 non-null object
balance      3994 non-null object
housing      3994 non-null object
loan         3994 non-null object
contact      3994 non-null object
day          3994 non-null object
month        3994 non-null object
duration     3994 non-null object
campaign     3994 non-null object
pdays        3994 non-null object
previous     3994 non-null object
poutcome     3994 non-null object
y            3994 non-null object
dtypes: object(17)
memory usage: 530.6+ KB

In [10]:
df.to_csv("cleaned.csv")

In [11]:
df.isnull().values.any()

False

# Data Prep
## generate success rate for each column then export to csv files

In [13]:
df.y = df.y.apply(lambda x: 1 if x == "yes" else 0)

In [15]:
df = df.rename(columns = {'y':'purchased'})

In [17]:
df.head()

  age          job  marital  education default balance housing loan   contact day month duration campaign pdays previous poutcome  purchased
0  30   unemployed  married    primary      no    1787      no   no  cellular  19   oct       79        1    -1        0  unknown          0
1  33     services  married  secondary      no    4789     yes  yes  cellular  11   may      220        1   339        4  failure          0
2  35   management   single   tertiary      no    1350     yes   no  cellular  16   apr      185        1   330        1  failure          0
3  59  blue-collar  married  secondary      no       0     yes   no   unknown   5   may      226        1    -1        0  unknown          0
4  35   management   single   tertiary      no     747      no   no  cellular  23   feb      141        2   176        3  failure          0

In [16]:
df.to_csv("modified.csv")

In [38]:
def success_rate(column, df):
    cate_rate = column + "," + "success_rate"
    for cate in df[column].unique():
        n_called = df[column].where(df[column] == cate).count()
        n_success = df[df[column] == cate].purchased.sum()
        success_rate = n_success / n_called
        cate_rate = cate_rate + "\n" + cate + "," + str(success_rate)
    return cate_rate

In [39]:
success_rate('marital', df)

'marital,success_rate\nmarried,0.09859154929577464\nsingle,0.13946869070208728\ndivorced,0.14505494505494507'

In [41]:
for item in df.columns[:-1]:
    f = open(item + '.csv','w')
    f.write(success_rate(item, df))
    f.close()